.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #2b3e50;
}
.dropdown-menu > li > a {
  
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #ebebeb;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ebebeb;
  background-color: #485563;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: none;
  outline: 0;
  background-color: #df691a;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #2b3e50;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  
  padding: 3px 20px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #2b3e50;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}


.dropdown-menu {
  border: none;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu > li > a {
  font-size: 12px;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-header {
  font-size: 12px;
}
table,
.table {
  font-size: 12px;
}
table a:not(.btn),
.table a:not(.btn) {
  color: #fff;
  text-decoration: underline;
}
table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none;
}
table .text-muted,
.table .text-muted {
  color: #4e5d6c;
}
table > thead > tr > th,
.table > thead > tr > th,
table > tbody > tr > th,
.table > tbody > tr > th,
table > tfoot > tr > th,
.table > tfoot > tr > th,
table > thead > tr > td,
.table > thead > tr > td,
table > tbody > tr > td,
.table > tbody > tr > td,
table > tfoot > tr > td,
.table > tfoot > tr > td {
  border-color: transparent;
}
input,
textarea {
  color: #2b3e50;
}
label,
.radio label,
.checkbox label,
.help-block {
  font-size: 12px;
}
.input-addon,
.input-group-addon {
  color: #ebebeb;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #f0ad4e;
}
.has-warning .input-group-addon {
  border: none;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #d9534f;
}
.has-error .input-group-addon {
  border: none;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #5cb85c;
}
.has-success .input-group-addon {
  border: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.nav-tabs > li > a {
  color: #ebebeb;
}
.nav-pills > li > a {
  color: #ebebeb;
}
.pager a {
  color: #ebebeb;
}
.alert {
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
}
.close {
  opacity: 0.4;
}
.close:hover,
.close:focus {
  opacity: 1;
}
.well {
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  border: none;
}
a.list-group-item-success.active {
  background-color: #5cb85c;
}
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  background-color: #4cae4c;
}
a.list-group-item-warning.active {
  background-color: #f0ad4e;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #eea236;
}
a.list-group-item-danger.active {
  background-color: #d9534f;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #d43f3a;
}
.panel {
  border: none;
}
.panel-default > .panel-heading {
  background-color: #485563;
  color: #ebebeb;
}
.thumbnail {
  background-color: #fff;
  border: none;
}
.modal {
  padding: 0;
}
.modal-header,
.modal-footer {
  background-color: #485563;
  border: none;
  border-radius: 0;
}
.popover-title {
  border: none;
}